* {
  --main-color: #eeeeee;
  --secondary-color: #463f3a;
  --action-color: #ec4e20;
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.header {
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.footer {
  background-color: var(--secondary-color);
  color: #bcb8b1;
  text-align: center;
}

.container {
  width: 32em;
  height: 32em;
  border: 2px solid black;
  display: flex;
}
.grid-item {
  width: 100%;
  display: grid;
  border: 1px solid black;
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 32em;
}

#color {
}

#bntReset {
  padding: 0.5em 1em;
}
